<div class="container" id="main-container">
    <div *ngFor="let article of articles" class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
          <div class="row flex-fill">
            <div class="col-sm-5">
              <h4 class="h5">{{article?.title}}</h4>
              <span>{{article?.authors}}</span> <br>
              <span>{{article?.abstrct}}</span> <br>
              <span>Approved? - {{article?.approved}}</span>
            </div>
            <div class="col-sm-3 text-lg-end">
              <a href="#" class="btn btn-primary stretched-link" data-original-title="Approve">Approve</a>
            </div>
            <div class="col-sm-3 text-lg-end">
              <a href="#" class="btn btn-primary stretched-link" data-original-title="Reject">Reject</a>
            </div>
          </div>
        </div>
    </div>
  </div>
  